*.html
*.ipynb_checkpoints*
*Untitled*
*.pyc
*.bin
*.pkl
*.vtk.*
*.7z
*.zip
*.json
*.png
*.stl
*.vtu
*.pptx
*.docx
*.doc
*.csv
*.xls
*.xlsx
*.dem
*.dbf
*.prj
*.shp
*.shx
*.cpg
*.ttf
*.txt
*.exe
*.tif
*.tif.*
*.xml
*.jpg
*.jpg.*
*.png
*.gdb
*.gpf
*.cache
*.kml
*.kmz
*.grd
*.grd.*
*.map
*.map.*
*.qgz
*.qix
*.tf
*.sbn
*.sbx
*.lyr
*.qml
*Report*


